.vscode/
.DS_Store
*.pyc
__pycache__
server/database/postgres_data/

postgres_data/
node_modules/

#api
api/venv/
.config
*.crt
*.key

venv/
.venv/
.virtualenv

#lpr
lpr/ConvALPR/.git
lpr/ConvALPR/alpr/__pycache__/

#rfid
client/rfid/MFRC522_python/build
client/rfid/MFRC522_python/dist
client/rfid/MFRC522_python/mfrc522.egg-info

#db
*.db

#To Remove
FOTOS/*.mp4
OLD/

# Frontend
node_modules/
